# Server
PROTOCOL=http
SERVER_HOST=0.0.0.0
SERVER_PORT=6015
SERVER_GROUP=

# GitHub
GITHUB_TOKEN=

# Cors
CORS_ALLOWED_ORIGINS=
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS,PATCH
CORS_ALLOWED_HEADERS=Content-Type,Authorization,X-Turnstile-Token,Access-Control-Allow-Credentials
CORS_ALLOW_CREDENTIALS=true

# Json Web Token
RSA_PRIVATE_KEY=
RSA_PUBLIC_KEY=

# MongoDB

# Auth DB
MONGO_AUTH_HOST=
MONGO_AUTH_PORT=
MONGO_AUTH_USERNAME=
MONGO_AUTH_PASSWORD=
MONGO_AUTH_DATABASE=
MONGO_AUTH_COLLECTION=
MONGO_AUTH_QUERY=


MONGO_ACCOUNT_COLLECTION=
MONGO_OWNER_COLLECTION=

# REDIS

# Base Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

# Redis Cache
REDIS_CACHE_HOST=
REDIS_CACHE_PORT=
REDIS_CACHE_PASSWORD=
REDIS_CACHE_DB=

# I18n
I18N_FALLBACK_LANGUAGE=en
I18N_DIR=./src/locales
I18N_LOCALES=en,tr

# Nats & Jetsream Streaming
NATS_URL=
NATS_STREAMS=

# Base HTTP Settings
HTTP_HEADER_DOMAIN=

# Base Token Settings
TOKEN_EXPIRATION=
TOKEN_PROJECT=

# --- Streaming Topics --- #
SESSION_TOPIC=Session

# Auth Streams
STREAMING_TOPIC_AUTH_BASE=Auth
STREAMING_TOPIC_AUTH_REGISTERED=Auth.Registered
STREAMING_TOPIC_AUTH_LOGIN_VERIFIED=Auth.LoginVerified
STREAMING_TOPIC_AUTH_USER_UPDATED=Auth.UserUpdated
STREAMING_TOPIC_AUTH_MAIL_VERIFIED=Auth.MailVerified

# Verify Streams
STREAMING_TOPIC_START_2FA=Verify.Start2FA

# Notify Streams
STREAMING_TOPIC_NOTIFY_EMAIL=Notify.SendEmail
STREAMING_TOPIC_NOTIFY_SMS=Notify.SendSms
STREAMING_TOPIC_NOTIFY_TELEGRAM=Notify.SendTelegram
STREAMING_TOPIC_NOTIFY_BATCH_EMAIL=Notify.SendBatchEmail
STREAMING_TOPIC_NOTIFY_BATCH_SMS=Notify.SendBatchSms

# Account Streams
STREAMING_TOPIC_ACCOUNT_DELETED=Account.Deleted
STREAMING_TOPIC_ACCOUNT_CREATED=Account.Created
STREAMING_TOPIC_ACCOUNT_UPDATED=Account.Updated
STREAMING_TOPIC_ACCOUNT_DISABLED=Account.Disabled
STREAMING_TOPIC_ACCOUNT_ENABLED=Account.Enabled

# Owner Streams 
STREAMING_TOPIC_OWNER_CREATED=Owner.Created
STREAMING_TOPIC_OWNER_USER_REMOVED=Owner.UserRemoved
STREAMING_TOPIC_OWNER_USER_ADDED=Owner.UserAdded
STREAMING_TOPIC_OWNER_USER_PERMISSION_REMOVED=Owner.UserPermissionRemoved
STREAMING_TOPIC_OWNER_USER_PERMISSION_ADDED=Owner.UserPermissionAdded
STREAMING_TOPIC_OWNER_VERIFIED_BY_ADMIN=Owner.VerifiedByAdmin
STREAMING_TOPIC_OWNER_DELETED_BY_ADMIN=Owner.DeletedByAdmin
STREAMING_TOPIC_OWNER_RECOVER_BY_ADMIN=Owner.RecoverByAdmin
STREAMING_TOPIC_OWNER_DISABLED=Owner.Disabled
STREAMING_TOPIC_OWNER_ENABLED=Owner.Enabled

# Admin Streams
STREAMING_TOPIC_ADMIN_PERMISSIONS_ADDED=Admin.PermissionsAdded
STREAMING_TOPIC_ADMIN_PERMISSIONS_REMOVED=Admin.PermissionsRemoved

# Turnstile
CF_TURNSTILE_SECRET_KEY=
TURNSTILE_SKIP_AUTH=false
CF_TURNSTILE_MOBILE_SECRET_KEY=

# Pages
URL_CHECK_2FA=https://turistikrota.com/check-2fa
URL_VERIFY_MAIL=https://turistikrota.com/verify